:root {
    --title-color: #212121;
    --lighter-text-color: rgba(157, 164, 189, 0.6);
    --accent-color: #2196F3;
    --white: #fffffff;
}

body {
    font-family: "Roboto,  'Open Sans',  sans-serif";
    color: black;
    background: #E5E5E5;
    width: 1600px;
    height: 2349px;
    position: relative;
}

ul {
    list-style: none;
}

/*Шапка*/
.header {
    width: 1600px;
    height: 80px;
    left: 0%;
    top: 0%;
    background-color: var(--white);
}


.menu {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    border-collapse: collapse;
}

.menu .one {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.menu .two {
    position: absolute;
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}

.menu .three {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
}

.menu .four {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.menu .five {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

/*тело*/

.section-hero {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
}

.bisnes {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    color: var(--white);
    background-color: var(--accent-color);
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.section-advantages {
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
}

.section-advantages>.advantages-primary {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}

.section-advantages>.advantages-secondary {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
}

.section-advantages>.advantages-tertiary {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
}

.section-advantages>.advantages-quaternary {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}

.block-one {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
}

.block-two {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-work {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;
}

.work {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.page {
    position: absolute;
    width: 1170px;
    height: 386px;
    left: 215px;
    top: 969px;
}

.page .one {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1061px;
}

.page .two {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1061px;
}

.page .three {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1061px;
}

.section-comand {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;
}

.comand {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}

.comand .one {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand .two {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand .three {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.comand .four {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
    background: #FFFFFF;
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/*подвал*/
.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}

.footer-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
}

.footer-menu .one {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2208px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--white);
    text-decoration: none;

}

.footer-menu .two {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2238px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.footer-menu .three {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2268px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.logo-accent-one {
    color: white;
}