body {    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*text-align: center;*/
    width: 1600px;
    height: 2346px;
    background-color: #FFFFFF;
    color: var(--main-color);
}
li{
    list-style: none;
}
/*-----Heder---*/
.header{
    background: #FFFFFF;
}
.webstudio {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000;
}
.web{
    color: #2196F3;
}
.black{
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}
.gray{
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}
.black:hover, .gray:hover{
    color: #2196F3;
}
/*-------------------main-------------*/
.bisnes{
    left: 0px;
    top: 80px;
    background: #2F303A;
}
.efect{
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button{
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.but{
    width: 152px;
    height: 30px;
    left: 724px;
    top: 440px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF
}
.work
.text h2{
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text p{
    width: 270px;
    height: 72px;
    left: 215px;
    top: 800px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.comand
.comand-all
.comand-one h2{
    width: 129px;
    height: 19px;
    left: 286px;
    top: 1922px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.comand-one p{
    width: 130px;
    height: 19px;
    left: 285px;
    top: 1951px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
/*--------Footer------*/
.footer{
    background: #2F303A;
}
.webstudio-footer {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2154px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.google{
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2205px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.google:hover{
    color: #2196F3;
}
/*-----------portfolio----*/
/*----header---*/
/*---main---*/
.but{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.buttonp{
    cursor: pointer;
}
.buttonp:hover{
    background-color: #2196F3;
}
.makerss h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}
.makerss p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}